.footer {
  background: #00497c;

  .footer-link {
    color: #f1f8fc;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: #82b864;
    }
  }

  p, h5 {
    color: #f1f8fc;
  }
}