// Palette officielle
$blue-light: #f1f8fc;
$blue: #0074c7;
$blue-dark: #00497c;
$gray-dark: #384050;
$red: #cd2c2e;
$green: #82b864;

// Typographie
$font-main: 'Graphik', 'Segoe UI', sans-serif;

// Espacements
$spacing-section: 4rem;

// Radius
$radius: 10px;

// Ombres
$shadow: 0 10px 25px rgba(0,0,0,0.1);