@import "./variables";

.navbar {
  background: $blue-dark !important;

  .nav-link {
    color: $blue-light !important;
    font-weight: 500;

    &:hover {
      color: $green !important;
    }
  }

  .navbar-brand {
    font-weight: 700;
    color: white !important;
  }
}